@import url('./config.css');

nav {
    width: 100%;
    display: flex;
    padding: 0 1.5rem;
    justify-content: space-between;
    align-items: center;
    background-color: var(--clr-primary-800);
    min-height: 10vh;
    z-index: 99;
}

nav > .nav-brand {
    flex-basis: 30%;
}

nav > .nav-brand > a {
    font-size: var(--fs-l);
    text-transform: uppercase;
    color: var(--clr-neutral-200);
    font-weight: 700;
}

nav > .nav-brand > a:hover {
    color: var(--clr-neutral-400);
    transition: 0.60s ease-in;
}

nav > .nav-brand > .nav-menu {
    display: none;
    color: var(--clr-neutral-200);
    cursor: pointer;
}

nav > .nav-brand > .nav-menu:hover{
    color: var(--clr-secondary-600);
    transition: 0.40s ease-in-out;
}

nav > .nav-links {
    flex-basis: 70%;
}

nav > .nav-links > ul {
    display: flex;
    justify-content: flex-end;
}

nav > .nav-links > ul > .nav-link {
    padding-inline: 0.5rem;
    list-style-type: none;
}

nav > .nav-links > ul > .nav-link > a {
    font-weight: 600;
    font-size: var(--fs-m);
    color: var(--clr-neutral-200);
}

nav > .nav-links > ul > .nav-link > a:hover {
    color: var(--clr-neutral-400);
    transition: 0.40s ease-in-out;
}

.main-container {
    min-height: 80vh;
    background-color: var(--clr-neutral-200);
}

footer {
    min-height: 10vh;
    width: 100%;
    background-color: var(--clr-secondary-800);
    display: flex;
    justify-content: center;
    align-items: center;
}

footer > h1 {
    color: var(--clr-neutral-200);
    font-size: var(--fs-m);
}

.import-container {
    background-color: var(--clr-neutral-200);
    width: 100%;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.import-container > .import-form {
    background-color: var(--clr-secondary-600);
    min-width: 60%;
    padding-block: 3rem;
}

.import-container > .import-form > form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.import-container > .import-form > form > h1 {
    font-size: var(--fs-xl);
    color: var(--clr-neutral-200);
}

.import-container > .import-form > form > * {
    margin-block: 2rem;
}

.import-container > .import-form > form > .form-item {
    min-width: 60%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.import-container > .import-form > form > .form-item > .form-input {
    display: none;
}

.import-container > .import-form > form > .form-item > .form-label {
    font-size: var(--fs-m);
    background-color: var(--clr-primary-600);
    color: var(--clr-neutral-200);
    font-weight: 700;
    padding: 1rem;
    cursor: pointer;
}

.import-container > .import-form > form > .form-item > .form-label:hover {
    background-color: var(--clr-primary-1000);
    transition: 0.60s ease-in;
}

.import-container > .import-form > form > .form-item > .selected-file {
    margin-block: 1rem;
    color: var(--clr-neutral-200);
    font-size: var(--fs-m);
    font-weight: 700;
}

.import-container > .import-form > form > .form-item > .form-error {
    margin-block: 1rem;
    color: var(--clr-danger-600);
    font-size: var(--fs-m);
    font-weight: 700;
}

.import-container > .import-form > form > .form-item > .form-submit {
    min-width: 50%;
    border: none;
    outline: none;
    padding: 1rem;
    background-color: var(--clr-success-400);
    font-size: var(--fs-m);
    color: var(--clr-neutral-200);
    font-weight: 600;
    cursor: pointer;
}

.import-container > .import-form > form > .form-item > .form-submit:hover {
    background-color: var(--clr-success-600);
    transition: 0.50s ease-in;
}

.main-container {
    background-color: var(--clr-neutral-200);
    width: 100%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.calls-container {
    border: 4px solid var(--clr-primary-600);
    width: 100%;
    height: 50vh;
    overflow-y: scroll;
}

.calls-container > table {
    width: 100%;
    border-collapse: collapse;
}

.calls-container::-webkit-scrollbar {
    width: 0.5em;
    background-color: var(--clr-neutral-400);
}
   
.calls-container::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
   
.calls-container::-webkit-scrollbar-thumb {
    background-color: var(--clr-secondary-400);
    outline: 1px solid var(--clr-secondary-400);
}

.calls-container > table > thead {
    background-color: var(--clr-secondary-600);
}

.calls-container > table > thead > tr > th {
    padding: 0.5rem 0.2rem;
}

.calls-container > table > tbody > tr {
    border-bottom: 1px solid var(--clr-neutral-400);
}

.calls-container > table > tbody > tr > td {
    padding: 0.5rem 0;
    font-weight: 500;
    text-align: center;
}

.calls-container > table > tbody > tr > .call-type {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calls-container > table > tbody > tr > .call-type > i {
    margin-inline: 0.5rem;
}

.calls-container > table > tbody > tr > .edit-item > form > input{
    border: 0;
    outline: none;
    background-color: var(--clr-primary-600);
    font-size: var(--fs-s);
    font-weight: 600;
    color: var(--clr-neutral-200);
    padding: 0.4rem;
    cursor: pointer;
}

.calls-container > table > tbody > tr > .edit-item > form > input:hover {
    background-color: var(--clr-primary-1000);
    transition: 0.50s ease-in;
}

.main-container > a {
    align-self: flex-start;
}

.main-container > a > i {
    margin: 1rem;
    color: var(--clr-neutral-400);
    cursor: pointer;
}

.main-container > a > i:hover {
    color: var(--clr-neutral-600);
    transition: 0.40s ease-in;
}

.call-container {
    width: 100%;
    background-color: var(--clr-neutral-200);
    min-height: 80vh;
    padding: 4rem;
}

.call-container > .call-form {
    padding: 2rem;
    min-width: 50%;
    border: 4px solid var(--clr-primary-600);
}

.call-container > .call-form > form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.call-container > .call-form > form > h1 {
    font-size: var(--fs-xl);
    color: var(--clr-primary-600);
}


.call-container > .call-form > form > .form-item {
    margin-block: 0.5rem;
    padding: 0.5rem;
    min-width: 30%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.call-container > .call-form > form > .form-item > .form-label {
    font-size: var(--fs-l);
    font-weight: 600;
    color: var(--clr-secondary-800);
    margin-block: 0.4rem;
}

.call-container > .call-form > form > .form-item > .form-input , .form-date, .form-select {
    border: none;
    outline: none;
    padding: 0.3rem 0.6rem;
    font-size: var(--fs-m);
    font-weight: 500;
    color: var(--clr-neutral-800);
    border-radius: 25px;
}

.call-container > .call-form > form > .form-item > .form-submit {
    background-color: var(--clr-success-400);
    border: none;
    outline: none;
    font-size: var(--fs-m);
    font-weight: 600;
    color: var(--clr-neutral-200);
    padding: 0.5rem;
    border-radius: 25px;
    cursor: pointer;
}

.call-container > .call-form > form > .form-item > .form-error {
    color: var(--clr-danger-600);
    font-size: var(--fs-s);
    margin-block: 0.3rem;
}

.call-container > .call-form > form > .form-item > .form-submit:hover {
    background-color: var(--clr-success-600);
    transition: 0.60s ease-in;
}

.form-select {
    color: var(--clr-neutral-200);
    background-color: var(--clr-secondary-400);
}

.form-select::-webkit-scrollbar {
    width: 0.5em;
    background-color: var(--clr-secondary-400);
}

.form-select::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.form-select::-webkit-scrollbar-thumb {
    background-color: var(--clr-secondary-600);
    outline: 1px solid var(--clr-secondary-400);
    border-radius: 25px;
}

.delete-call {
    border: none;
    outline: none;
    padding: 0.5rem;
    font-size: var(--fs-m);
    border-radius: 25px;
    font-weight: 600;
    background-color: var(--clr-danger-400);
    color: var(--clr-neutral-200);
    cursor: pointer;
}

.delete-call:hover {
    background-color: var(--clr-danger-600);
    transition: 0.40s ease-in;
}

.main-container > .users-container {
    border: 4px solid var(--clr-primary-600);
    width: 100%;
    height: 50vh;
    overflow-y: scroll;
    margin-block: 4rem;
    padding: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main-container > .users-container > .user {
    border: 4px solid var(--clr-secondary-600);
    margin-block: 0.4rem;
    min-width: 30%;
    max-width: 60%;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-container > .users-container > .user > form > input {
    border: none;
    outline: none;
    background-color: var(--clr-primary-600);
    color: var(--clr-neutral-200);
    font-size: var(--fs-m);
    font-weight: 600;
    padding: 0.4rem;
    cursor: pointer;
}

.main-container > .users-container > .user > form > input:hover {
    background-color: var(--clr-primary-1000);
    transition: 0.60s ease-in;
}

.main-container > .users-container > .user > h1 {
    font-size: var(--fs-m);
    color: var(--clr-secondary-600);
}

.main-container > .users-container > .user > h1 > span {
    color: var(--clr-neutral-800);
    font-weight: 500;
}

.main-container > .users-container::-webkit-scrollbar {
    width: 0.5em;
    background-color: var(--clr-neutral-400);
}
   
.main-container > .users-container::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
   
.main-container > .users-container::-webkit-scrollbar-thumb {
    background-color: var(--clr-secondary-400);
    outline: 1px solid var(--clr-secondary-400);
}

.user-container {
    width: 100%;
    min-height: 80vh;
    background-color: var(--clr-neutral-200);
}

.user-container > .user {
    text-align: center;
    padding-top: 2rem;
}

.user-container > .user > h1 {
    font-size: var(--fs-xl);
    color: var(--clr-secondary-600);
    margin-bottom: 2rem;
}

.user-container > .user > .user-data {
    border: 4px solid var(--clr-primary-600);
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
    margin: 0.5rem;
}

.user-container > .user > .user-data > .segment > h1 {
    font-size: var(--fs-l);
    color: var(--clr-secondary-600);
}

.user-container > .user > .user-data > .segment > h1 > span {
    color: var(--clr-neutral-800);
    font-weight: 500;
}

@media only screen and (max-width: 1024px) {
    nav {
        flex-direction: column;
        padding-block: 2rem;
    }

    nav.active {
        background-color: var(--clr-secondary-800);
        min-height: 20vh;
        justify-content: flex-start;
        transition: 0.60s ease-in-out;
    }

    nav.active > .nav-brand > a > span {
        color: var(--clr-primary-600);
        transition: 0.40s ease-in-out;
    }

    nav.active > .nav-brand > a:hover > span {
        color: var(--clr-danger-400);
        transition: 0.40s ease-in-out;
    }

    nav.active > .nav-brand > .nav-menu {
        color: var(--clr-primary-600);
    }

    nav.active > .nav-brand > .nav-menu:hover {
        color: var(--clr-danger-400);
    }

    nav > .nav-brand {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    
    nav > .nav-brand > .nav-menu {
        display: block;
    }
    
    nav > .nav-links {
        display: none;
    }

    nav.active > .nav-links > ul {
        flex-direction: column;
        align-items: center;
    }

    nav.active > .nav-links ul > .nav-link {
        margin-block: 1rem;
    }

}

@media only screen and (max-width: 640px) {
    nav.active {
        height: 100vh;
        padding-block: 0.5rem;
    }

    nav.active .nav-brand {
        flex-basis: 10%;
    }
}