@import url('./config.css');

nav {
    width: 100%;
    display: flex;
    padding: 0 1.5rem;
    justify-content: space-between;
    align-items: center;
    background-color: var(--clr-primary-800);
    min-height: 10vh;
    z-index: 99;
}

nav > .nav-brand {
    flex-basis: 30%;
}

nav > .nav-brand > a {
    font-size: var(--fs-l);
    text-transform: uppercase;
    color: var(--clr-neutral-200);
    font-weight: 700;
}

nav > .nav-brand > a:hover {
    color: var(--clr-neutral-400);
    transition: 0.60s ease-in;
}

nav > .nav-brand > .nav-menu {
    display: none;
    color: var(--clr-neutral-200);
    cursor: pointer;
}

nav > .nav-brand > .nav-menu:hover{
    color: var(--clr-secondary-600);
    transition: 0.40s ease-in-out;
}

nav > .nav-links {
    flex-basis: 70%;
}

nav > .nav-links > ul {
    display: flex;
    justify-content: flex-end;
}

nav > .nav-links > ul > .nav-link {
    padding-inline: 0.5rem;
    list-style-type: none;
}

nav > .nav-links > ul > .nav-link > a {
    font-weight: 600;
    font-size: var(--fs-m);
    color: var(--clr-neutral-200);
}

nav > .nav-links > ul > .nav-link > a:hover {
    color: var(--clr-neutral-400);
    transition: 0.40s ease-in-out;
}

.main-container {
    min-height: 80vh;
    background-color: var(--clr-neutral-200);
}

footer {
    min-height: 10vh;
    width: 100%;
    background-color: var(--clr-secondary-800);
    display: flex;
    justify-content: center;
    align-items: center;
}

footer > h1 {
    color: var(--clr-neutral-200);
    font-size: var(--fs-m);
}

.import-container {
    background-color: var(--clr-neutral-200);
    width: 100%;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.import-container > .import-form {
    background-color: var(--clr-secondary-600);
    min-width: 60%;
    padding-block: 3rem;
}

.import-container > .import-form > form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.import-container > .import-form > form > h1 {
    font-size: var(--fs-xl);
    color: var(--clr-neutral-200);
}

.import-container > .import-form > form > * {
    margin-block: 2rem;
}

.import-container > .import-form > form > .form-item {
    min-width: 60%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.import-container > .import-form > form > .form-item > .form-input {
    display: none;
}

.import-container > .import-form > form > .form-item > .form-label {
    font-size: var(--fs-m);
    background-color: var(--clr-primary-600);
    color: var(--clr-neutral-200);
    font-weight: 700;
    padding: 1rem;
    cursor: pointer;
}

.import-container > .import-form > form > .form-item > .form-label:hover {
    background-color: var(--clr-primary-1000);
    transition: 0.60s ease-in;
}

.import-container > .import-form > form > .form-item > .selected-file {
    margin-block: 1rem;
    color: var(--clr-neutral-200);
    font-size: var(--fs-m);
    font-weight: 700;
}

.import-container > .import-form > form > .form-item > .form-error {
    margin-block: 1rem;
    color: var(--clr-danger-600);
    font-size: var(--fs-m);
    font-weight: 700;
}

.import-container > .import-form > form > .form-item > .form-submit {
    min-width: 50%;
    border: none;
    outline: none;
    padding: 1rem;
    background-color: var(--clr-success-400);
    font-size: var(--fs-m);
    color: var(--clr-neutral-200);
    font-weight: 600;
    cursor: pointer;
}

.import-container > .import-form > form > .form-item > .form-submit:hover {
    background-color: var(--clr-success-600);
    transition: 0.50s ease-in;
}

@media only screen and (max-width: 1024px) {
    nav {
        flex-direction: column;
        padding-block: 2rem;
    }

    nav.active {
        background-color: var(--clr-secondary-800);
        min-height: 20vh;
        justify-content: flex-start;
        transition: 0.60s ease-in-out;
    }

    nav.active > .nav-brand > a > span {
        color: var(--clr-primary-600);
        transition: 0.40s ease-in-out;
    }

    nav.active > .nav-brand > a:hover > span {
        color: var(--clr-danger-400);
        transition: 0.40s ease-in-out;
    }

    nav.active > .nav-brand > .nav-menu {
        color: var(--clr-primary-600);
    }

    nav.active > .nav-brand > .nav-menu:hover {
        color: var(--clr-danger-400);
    }

    nav > .nav-brand {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    
    nav > .nav-brand > .nav-menu {
        display: block;
    }
    
    nav > .nav-links {
        display: none;
    }

    nav.active > .nav-links > ul {
        flex-direction: column;
        align-items: center;
    }

    nav.active > .nav-links ul > .nav-link {
        margin-block: 1rem;
    }

}

@media only screen and (max-width: 640px) {
    nav.active {
        height: 100vh;
        padding-block: 0.5rem;
    }

    nav.active .nav-brand {
        flex-basis: 10%;
    }
}